version: "3"

# Do not use this file in production or VPS. This
# file is indended for local development only. To
# run on your machine - read README.md

services:
  # For local development only to test build. Do
  # not use in production or VPS
  logbull-local:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4005:4005"
    volumes:
      - ./logbull-data:/logbull-data
    container_name: logbull-local
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4005/api/v1/system/health"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 60s
